html {
    background-image: url("/images/japan-map.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50%;
    background-position: right;
    font-family: "tahoma";
    color: #383838;
}

#list_cities {
    font-size:25px;
}

#txtCity {
    font-size:20px;
}

#btnEnter {
    font-size:20px;
}